*{
    padding: 0;
    top: 0;
    right: 0;
}

body{
    text-align: justify;
    font-weight: sans-serif;
}

.box{
    width: 100%;
    height: 50px;
    /*background-color: red; */
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #2885b9;
}

section{
    text-align: center;
    align-items: center;
    border: sandybrown;
    box-sizing: border-box;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.btn{
    justify-content: center;
    text-align: center;
}

.pendaftaran, a{
    background-color: #3880b9;
    color: whitesmoke;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}